<!doctype html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">
    <h1>{{ page.title }}</h1>
    <div class="initial-content">
      {{ content }} 
    </div>

    <div id="footer" class="page__footer">
      <footer>
        {% include footer/custom.html %}
      </footer>
    </div>
  </body>
</html>
